@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
}

#header-control {
  position: absolute;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1000;
  top: 0;
  font-family: 'Roboto', sans-serif;
}

#header-control .controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  filter: none;
}

#header-control .title {
  font-family: 'Poiret One', cursive;
  color: #0094C6;
  z-index: 1000;
  display: flex;
  flex-flow: row wrap;
  width: 152px;
  justify-content: flex-end;
  padding: 16px 0;
  letter-spacing: 6px;
}

#header-control .title h1 {
  font-size: 50px;
  margin: 0;
  margin-bottom: -7px;
}

#header-control .title h3 {
  font-size: 21px;
  margin: 0;
}

#header-control .buttons {
  min-width: 82%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding-top: 16px;
}

#header-control .buttons .buttons-group {
  width: 612px;
  display: flex;
  justify-content: space-between;
}

#header-control .buttons .sources {
  color: #0094C6;
  width: 100%;
  text-align: center;
  padding-top: 8px;
}

#header-control .buttons .sources > span {
  margin: 0 8px;
}

.subject-button {
  height: 44px;
  width: 140px;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid #0094C6;
  color: #0094C6;
  font-weight: bold;
  transition: all 1s ease;
}

.subject-button:focus {
  outline: 0;
}

.subject-button:hover {
  background-color: #0094C6;
  border: 2px solid #0094C6;
  color: #fff;
  transition: all 1s ease;
}

.active {
  background-color: #0060C6;
  border: solid 2px #0060C6;
  color: white;
}

.sidebar {
  position: absolute;
  width: 151px;
  height: calc(100% - 120px);
  background: rgba(0, 0, 0, 0.85);
  bottom: 0;
}

.leaflet-top, .leaflet-left {
  height: 373px;
  background-color: transparent;
  margin-top: 120px;
  width: 151px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  z-index: inherit;
}

.leaflet-top > div, .leaflet-left > div {
  margin-top: 66px !important;
}

.leaflet-right {
  left: 0;
  background-color: transparent;
}

.leaflet-left, .leaflet-control {
  margin-left: 0;
}

.map-group {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: #0094C6;
}

.info h4 {
  margin: 0 0 5px;
  color: #0094C6;
}

.legend {
  line-height: 18px;
  color: #0094C6;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.fa-2x {
  font-size: 2em;
}

.col-xs-2 {
  padding-left: 0;
  padding-right: 0;
}

.col-xs-10 {
  padding-left: 0;
  padding-right: 0;
}

#logo_img {
  z-index: 0;
  position: absolute;
  top: 2%;
  left: 10%;
  width: 15%;
  height: 10%;
}

.btn.btn-info {
  position: relative;
  left: 110%;
}

#powerby {
  position: absolute;
  bottom: 0%;
  left: 74%;
  width: 10%;
  z-index: 0;
}

.white {
  color: white;
}

.stats {
  position: absolute;
  bottom: 0;
  pointer-events: none;
  line-height: 1;
  width: 100%;
}

time-series {
  z-index: 1000;
  pointer-events: auto;
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
}

#count-div {
  color: #0094C6;
  font-weight: 100;
  padding: 12px;
  width: 151px;
  text-align: center;
}

#count-div #count {
  font-size: 22px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#count-div #count > span {
  padding: 0 8px;
}

.normalize p {
  text-align: center;
}

.leaflet-left .leaflet-control {
  margin-left: 0;
}

.search-keyword-btn {
  background-color: crimson;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-keyword-btn:active, .search-keyword-btn:focus, .search-keyword-btn:hover {
  background-color: transparent;
  color: black;
}

.search-keyword-btn-group {
  margin-left: 36%;
}
