
@import controllers.TwitterMapApplication.DBType
@(title: String, ws: String, startDate: String, endDate:Option[String], sentimentEnabled: Boolean, sentimentUDF: String, removeSearchBar: Boolean, predefinedKeywords: Seq[String], cacheThreshold: Option[String], querySliceMills: Option[String], isDrugMap: Boolean, sqlDB: DBType.Value) @main(title, ws, startDate, endDate, sentimentEnabled, sentimentUDF, removeSearchBar, predefinedKeywords, cacheThreshold, querySliceMills, isDrugMap, sqlDB){
  <div xmlns="http://www.w3.org/1999/html" ng-controller="AppCtrl">

    <div class="map-group">
      <alert-bar></alert-bar>

    <map lat="39.5" lng="-96.35" zoom="4"></map>

      <div id="logo">
      </div>

    </div>

    <!-- <search-bar></search-bar> -->
    <predefined-keywords></predefined-keywords>

    <div id="header-control" ng-controller="SearchCtrl">
      <button class="subject-button" ng-class="{'active': keyword === 'dengue'}" ng-click="search($event)">Dengue</button>
      <button class="subject-button" ng-class="{'active': keyword === 'zika'}" ng-click="search($event)">Zika</button>
      <button class="subject-button" ng-class="{'active': keyword === 'febre amarela'}" ng-click="search($event)">Febre Amarela</button>
      <button class="subject-button" ng-class="{'active': keyword === 'chikungunya'}" ng-click="search($event)">Chikungunya</button>
    </div>

    <div class="stats">
      <time-series id="chart"></time-series>
    </div>


          <div class = "exception-bar">
            <exception-bar></exception-bar>
          </div>



        </div>


      }
