
@import controllers.TwitterMapApplication.DBType
@(title: String, ws: String, startDate: String, endDate:Option[String], sentimentEnabled: Boolean, sentimentUDF: String, removeSearchBar: Boolean, predefinedKeywords: Seq[String], cacheThreshold: Option[String], querySliceMills: Option[String], isDrugMap: Boolean, sqlDB: DBType.Value) @main(title, ws, startDate, endDate, sentimentEnabled, sentimentUDF, removeSearchBar, predefinedKeywords, cacheThreshold, querySliceMills, isDrugMap, sqlDB){
  <div xmlns="http://www.w3.org/1999/html" ng-controller="AppCtrl">

    <div class="map-group">
      <alert-bar></alert-bar>

    <map lat="-12.6" lng="-50.4" zoom="4"></map>

      <div id="logo">
      </div>

    </div>

    <!-- <search-bar></search-bar> -->
    <predefined-keywords></predefined-keywords>
    

    <div id="header-control" ng-controller="SearchCtrl">
      <div class="transparent">

      </div>
      <div class="controls">
        <div class="title">
          <h1>Aedes</h1>
          <h3>Webview</h3>
        </div>
      <div class="buttons">
        <div class="buttons-group">
          <button class="subject-button" ng-class="{'active': keyword === 'dengue'}" ng-click="search('dengue')">Dengue</button>
          <button class="subject-button" ng-class="{'active': keyword === 'zika'}" ng-click="search('zika')">Zika</button>
          <button class="subject-button" ng-class="{'active': keyword === 'febre amarela'}" ng-click="search('febre amarela')">Febre Amarela</>
          <button class="subject-button" ng-class="{'active': keyword === 'chikungunya'}" ng-click="search('chikungunya')">Chikungunya</button>
        </div>
        <div class="sources">
         <span>
           <input type="checkbox" id="twitter" name="Twitter" value="twitter" ng-model="twitter" ng-click="search()">
           <label for="twitter">Twitter</label>
         </span>
         <span>
           <input type="checkbox" id="news" name="news" value="news" ng-model="news" ng-click="search()">
           <label for="news">News</label>
        </span>
      </div>
      </div>
      </div>
    </div>

    <div class="sidebar"></div>

    <div class="stats">
      <time-series id="chart"></time-series>
    </div>


          <div class = "exception-bar">
            <exception-bar></exception-bar>
          </div>



        </div>


      }
